doctype html
html
  head
    title Mikko
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    script.
      window.VOICES = !{JSON.stringify(voices)};
    script(src="/socket.io/socket.io.js")
    script(src="/app.js")
